header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E4FCFB;
        padding: 10px;

}
Ul{
    display: flex;
    list-style: none;
}
ul li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px;
}
ul li a:hover{
    font-weight: bold;
}
ul li a:active{
    transform: scale(0.95);
}
.logo{
    font-size: 20px;
    font-weight: bold; 
    color: #20A5D2;
    font-style: Inter;
}
.page_active{
   background-color:  #017faa;
   color: white;
   border-radius: 50px;
   padding: 10px 20px;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.box1{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    gap: 180px;
}
img{
    width: 400px;
    height: 300px;
    object-fit: cover;
}
figcaption{
    width: 400px;
    height: 100px;
    background-color: #39716adc; 
    color: white;
    border-radius: 8px;
    line-height: 1.3;
    padding: 10px;
    font-size: 17px;

}
h1{
    font-size: 80px;
    padding-left: 40px;
}
.box2{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    gap: 180px;
    padding-left: 45px;
}