header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E4FCFB;
        padding: 10px;

}
Ul{
    display: flex;
    list-style: none;
}
ul li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px;
}
ul li a:hover{
    font-weight: bold;
}
ul li a:active{
    transform: scale(0.95);
}
.logo{
    font-size: 20px;
    font-weight: bold; 
    color: #20A5D2;
    font-style: Inter;
}
.page_active{
   background-color:  #017faa;
   color: white;
   border-radius: 50px;
   padding: 10px 20px;
}

.premier{
    margin: 20px;
    font-size: 18px;
    margin-top: 40px;
    background-color: #BFD1D1;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    border-radius: 8px;
    max-width: 2000px;
    max-height: 2000px;
}
.Grandre{
    display: flex;
     gap: 50px;
     align-items: center;
    justify-content: center;
    padding-top: 40px;
    
}
.boite1, .boite2{
    flex: 1;
    width: 50%;
    display: flex;
    background-color: #D9D9D9;
    max-width: 500px;
    max-height: 500px;
    border-radius: 8px;
    flex-direction: column;
    align-items: left;
}
.R, .P, .S, .A{
    display: list-item;
    /*flex-direction: column;*/
    font-size: 18px;
    text-align: left;
    list-style-type: disc;
    list-style-position: inside;
    padding: 10px;
    padding-left: 20px;
    
}
/*.boite2,.boite1, h3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}*/
h3{
    font-size: 25px;
    font-weight: 600;
    text-decoration: underline;
    color: #39716A;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}
.admin {
     flex-direction: column;
    font-size: 18px;
    text-align: left;
    margin-top: 0%;
}
.lien{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.tele{
    text-decoration: none;
    background-color: #20A5D2;
    color: white;
    margin: 30px;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.7;
    border-radius: 30px;
}
.tele:hover{
    opacity: 1;
    font-weight: 600;
}
.tele:active{
    transform: scale(0.95);
}
    
